body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    background-image: url('background.jpg'); /* путь к изображению */
    background-size: cover;       /* растягивает изображение на весь экран */
    background-position: center;  /* центрирует */
    background-repeat: no-repeat; /* не повторяет */
    height: 100vh;
    margin: 0;
  }
  
  header {
    background: #00264d;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .logo {
    width: 500px;
    margin-bottom: 1rem;
  }
  
  .tagline {
    font-size: 1.1rem;
  }
  
  section {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    color: #004080;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 0.5rem 0;
  }
  
  footer {
    background: #959c9fe1;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .container {
    max-width: 10000px;
    margin: auto;
  }

  .header {
    text-align: center;
    padding: 100px;
  }

  .team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 500px;
    justify-content: center;
  }

  .card {
    background-color: white;
    padding: 30px;
    border-radius: 48px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    height: 200px;
    text-align: center;
  }

  .card h3 {
    margin: 10px 0 5px;
  }

  .card p {
    color: #555;
    font-size: 0.95rem;
  }
  